$color_1: #5863f8;
$color_2: #000000;
$color_3: #ffffff;
$color_4: #cecece;
$color_5: #b1b1b1;
$font-family_1: "Poppins", sans-serif;
$font-family_2: font-size: 24px;
$background-color_1: #f8f8f8;
$background-color_2: #5863f8;
$background-color_3: black;
$border-color_1: #000000;